<div class="page-ai">
  <div>
    <h2>Tra cứu loại hoa lan</h2>
    <div>
      <!-- <button type="button" (click)="aiFlower()" *ngIf="isShow">Start</button>
      <button type="button" (click)="aiFlowerClose()" *ngIf="!isShow">
        Close
      </button> -->
    </div>
  </div>
  <div>
    <div class="webcam">
      <div id="webcam-container"></div>
    </div>
    <div class="label">
      <!-- <p *ngIf="!isShow"> -->
      <p>
        Hệ thống tra cứu Hoa Lan của chúng tôi cho biết Hoa Lan đang hiện trên
      </p>
      <div class="result__Flower">
        <span id="label-container"> {{flowerName}}</span>
      </div>
    </div>
  </div>
</div>
