.page-ai {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 3px 0px rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  padding: 20px;
  & > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid var(--color-border);
    background-color: var(--backgroud-color-logo);
    padding: 7px 20px;

    margin-bottom: 16px;
    border-radius: 7px;
    h2 {
      margin: 0;
      font-weight: bold;
    }
  }

  & > div:last-child {
    display: flex;
    justify-content: space-between;

    .label {
      padding: 0 0 0 20px;
      color: black;
      p {
        font-size: 18px;
        font-weight: 400;
      }
      .result__Flower {

        display: flex;
        justify-content: center;
        align-items: center;
        height: 75%;
        span {
          font-size: 32px;
          font-weight: 700;
        }
      }
    }

    @media (max-width: 739px) {
      flex-wrap: wrap;
      justify-content: center;
      .webcam {
        overflow: hidden;
      }
    }
    @media (min-width: 740px) and (max-width: 1023px) {
    }
    @media (min-width: 1024px) {
    }
  }
}
