<div class="emp-profile">
  <div
    class="btn-delete"
    role="button"
    (click)="deleteUser()"
    *ngIf="role === 'admin'"
  >
    <i class="fas fa-trash"></i>
  </div>
  <form method="post">
    <div class="row mb-3">
      <div class="col-md-4">
        <div class="profile-img">
          <img
            src="{{ dataProfile?.picture }}"
            alt=""
            onerror="this.src='assets/img/avatar_template.jpg';"
          />
          <div class="file btn btn-lg btn-primary" *ngIf="idCurrent">
            Đổi ảnh đại diện
            <input
              type="file"
              name="file"
              accept=".png, .jpg, .jpeg"
              enctype="multipart/form-data"
              (change)="onSelectFile($event)"
            />
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="profile-head">
          <h5 class="">{{ dataProfile?.fullName }}</h5>
          <!-- <h6>{{ dataProfile?.createAt | date: "dd/MM/yyyy" }}</h6> -->
          <!-- <p class="proile-rating">RANKINGS : <span>8/10</span></p> -->
          <ul class="nav nav-tabs mb-0" id="myTab" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link text-dark active"
                id="home-tab"
                data-toggle="tab"
                href="#home"
                role="tab"
                aria-controls="home"
                aria-selected="true"
                >Thông tin tài khoản</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link text-dark"
                id="profile-tab"
                data-toggle="tab"
                href="#profile"
                role="tab"
                aria-controls="profile"
                aria-selected="false"
                *ngIf="arrFlower.length !== 0"
                >Thông tin Hoa Lan</a
              >
            </li>
            <li class="nav-item" *ngIf="isShow">
              <a
                class="nav-link text-dark"
                id="add-tab"
                data-toggle="tab"
                href="#add"
                role="tab"
                aria-controls="add"
                aria-selected="false"
                >Thêm Hoa Lan</a
              >
            </li>
            <li class="nav-item" *ngIf="checkFriend">
              <div
                style="cursor: pointer;"
                class="nav-link text-dark"
                data-toggle="tab"
                aria-controls="add"
                aria-selected="false"
                (click)="addFriendNew()"
                >{{textFriend}}</div
              >
            </li>
            <li class="nav-item" *ngIf="!checkInvite">
              <div
                style="cursor: pointer;"
                class="nav-link text-dark"
                data-toggle="tab"
                aria-controls="add"
                aria-selected="false"
                (click)="rejectFriend()"
                >{{textRejectFriend}}</div
              >
            </li>
            <li class="nav-item" *ngIf="checkCancelFriend">
              <div
                style="cursor: pointer;"
                class="nav-link text-dark"
                data-toggle="tab"
                aria-controls="add"
                aria-selected="false"
                (click)="delFriend()"
                >Xóa kết bạn</div
              >
            </li>
          </ul>
        </div>
      </div>
      <!-- <div class="col-md-2">
        <span
          role="button"
          class="profile-edit-btn"
          (click)="handleEditProfile()"
          *ngIf="isShow"
        >
          Cập nhật thông tin
        </span>
      </div> -->
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="tab-content profile-tab" id="myTabContent">
          <div
            class="tab-pane fade show active"
            id="home"
            role="tabpanel"
            aria-labelledby="home-tab"
          >
            <fieldset id="formAccount">
              <form
                (ngSubmit)="onSubmit(formProfile.value)"
                [formGroup]="formProfile"
              >
                <div class="row mb-2">
                  <div class="col-md-4 my-auto">
                    <label class="m-0">User Id</label>
                  </div>
                  <div class="col-md-8">
                    <input
                      type="text"
                      name="userID"
                      placeholder="userID"
                      formControlName="userID"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-md-4 my-auto">
                    <label class="m-0">Email address</label>
                  </div>
                  <div class="col-md-8">
                    <input
                      type="text"
                      name="email"
                      placeholder="email"
                      formControlName="email"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-md-4 my-auto">
                    <label class="m-0">Số điện thoại</label>
                  </div>
                  <div class="col-md-8">
                    <input
                      type="text"
                      name="phone"
                      placeholder="phone"
                      formControlName="phone"
                      class="form-control"
                      maxlength="10"
                    />
                  </div>
                </div>
                <fieldset [disabled]="!isShow">
                  <div class="row mb-2">
                    <div class="col-md-4 my-auto">
                      <label class="m-0">Họ & Tên</label>
                    </div>
                    <div class="col-md-8">
                      <input
                        type="text"
                        name="name"
                        placeholder="name"
                        formControlName="name"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-md-4 my-auto">
                      <label class="m-0">Giới tính</label>
                    </div>
                    <div class="col-md-8">
                      <select
                        class="custom-select"
                        id="sex"
                        formControlName="sex"
                      >
                        <option selected value="Nam">Nam</option>
                        <option value="Nữ">Nữ</option>
                        <option value="Khác">Khác</option>
                      </select>
                    </div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-md-4 my-auto">
                      <label class="m-0">Ngày sinh</label>
                    </div>
                    <div class="col-md-8">
                      <input
                        type="date"
                        name="born"
                        placeholder="born"
                        formControlName="born"
                        class="form-control"
                        (change)="calcBirthday()"
                        min="1990-01-01"
                        max="2010-01-01"
                      />
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-8">
                      <small
                        class="text-danger font-weight-bold"
                        id="birthDay"
                        >{{ notifi }}</small
                      >
                    </div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-md-4 my-auto">
                      <label class="m-0">Địa chỉ</label>
                    </div>
                    <div class="col-md-8">
                      <input
                        type="text"
                        name="address"
                        placeholder="address"
                        formControlName="address"
                        class="form-control"
                      />
                    </div>
                  </div>
                </fieldset>

                <div class="row mb-2">
                  <div class="col-md-4 my-auto"></div>
                  <div class="col-md-8">
                    <small class="text-danger font-weight-bold">{{
                      isStatus
                    }}</small>
                    <small class="txt-success form-check-label">{{
                      isStatuss
                    }}</small>
                  </div>
                </div>
                <div class="text-right">
                  <!-- [disabled]="formProfile.invalid" -->
                  <button type="submit" class="btn btn-success" *ngIf="isShow">
                    Lưu thay đổi
                  </button>
                </div>
              </form>
            </fieldset>
          </div>
          <div
            class="tab-pane fade"
            id="profile"
            role="tabpanel"
            aria-labelledby="profile-tab"
          >
            <div
              id="carouselExampleIndicators"
              class="carousel slide"
              data-ride="carousel"
              data-interval="2000"
            >
              <div class="carousel-inner">
                <ng-container *ngFor="let slide of arrFlower">
                  <div
                    class="carousel-item"
                    [ngClass]="slide?.active ? 'active' : ''"
                  >
                    <div class="card--Flower">
                      <div
                        class="btn-delete"
                        role="button"
                        (click)="deletePet__ByID(idCurrent, slide.id)"
                        *ngIf="idCurrent === paramID"
                      >
                        <i class="fas fa-trash"></i>
                      </div>
                      <div class="__card--profile {{ slide.id }}">
                        <fieldset id="formFlower" [disabled]="true">
                          <div class="row mb-2">
                            <div class="col-md-3 my-auto">
                              <label class="m-0">Tên Hoa Lan</label>
                            </div>
                            <div class="col-md-9">
                              <input
                                type="text"
                                name="name"
                                placeholder="name pet"
                                class="form-control"
                                [value]="slide?.namePet"
                              />
                            </div>
                          </div>
                          <div class="row mb-2">
                            <div class="col-md-3 my-auto">
                              <label class="m-0">Loại Lan</label>
                            </div>
                            <div class="col-md-9">
                              <input
                                type="text"
                                name="name"
                                placeholder="giong"
                                class="form-control"
                                [value]="slide?.category"
                              />
                            </div>
                          </div>

                          <div class="row mb-2">
                            <div class="col-md-3 my-auto">
                              <label class="m-0">ngày đăng</label>
                            </div>
                            <div class="col-md-9">
                              <input
                                type="text"
                                name="postingDate"
                                placeholder="postingDate"
                                class="form-control"
                                [value]="slide?.postingDate | date: 'dd/MM/yyyy'"
                              />
                            </div>
                          </div>
                          <div class="row mb-2">
                            <div class="col-md-3 my-auto">
                              <label class="m-0">Màu sắc</label>
                            </div>
                            <div class="col-md-9">
                              <input
                                type="text"
                                name="color"
                                placeholder="color"
                                class="form-control"
                                [value]="slide?.color"
                              />
                            </div>
                          </div>
                        </fieldset>
                      </div>
                      <div class="__card--img">
                        <img
                          [src]="
                            slide?.picture || 'assets/img/avatar_pet.jpg'
                          "
                          alt="image Hoa Lan"
                          title="thông tin Hoa Lan"
                          onerror="this.src='assets/img/avatar_template.jpg';"
                        />
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
              <a
                class="carousel-control-prev"
                href="#carouselExampleIndicators"
                role="button"
                data-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Previous</span>
              </a>
              <a
                class="carousel-control-next"
                href="#carouselExampleIndicators"
                role="button"
                data-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="add"
            role="tabpanel"
            aria-labelledby="add-tab"
          >
            <div class="card--Flower">
              <div class="__card--profile m-0">
                <fieldset id="formFlowerAdd">
                  <form
                    (ngSubmit)="onSubmitFlower(formFlower.value)"
                    [formGroup]="formFlower"
                  >
                    <div class="row mb-2">
                      <div class="col-md-4 my-auto">
                        <label class="m-0">Tên Hoa Lan</label>
                      </div>
                      <div class="col-md-8">
                        <input
                          type="text"
                          name="name"
                          placeholder="ten Hoa Lan"
                          formControlName="namePet"
                          class="form-control"
                        />
                      </div>
                    </div>
                    <div class="row mb-2">
                      <div class="col-md-4 my-auto">
                        <label class="m-0">Loại Lan</label>
                      </div>
                      <div class="col-md-8">
                        <select
                          class="custom-select"
                          id="category"
                          formControlName="category"
                        >
                          <option selected value="Lan Vũ nữ">Lan Vũ nữ</option>
                          <option value="Lan Dendro">Lan Dendro</option>
                          <option value="Lan Chu Đinh">Lan Chu Đinh</option>
                          <option value="Lan Cẩm Cù">Lan Cẩm cù</option>
                          <option value="Lan Long Tu Lào">Lan Long tu Lào</option>
                          <option value="Lan Hạc vỹ">Lan Hạc vỹ</option>
                          <option value="Lan Hạc vỹ">Lan Tam Bảo Sắc</option>
                        </select>
                      </div>
                    </div>

                    <div class="row mb-2">
                      <div class="col-md-4 my-auto">
                        <label class="m-0">Ngày Đăng</label>
                      </div>
                      <div class="col-md-8">
                        <input
                          type="date"
                          name="birthdate"
                          placeholder="birthdate"
                          formControlName="birthdate"
                          class="form-control"
                          min="2010-01-01"
                        />
                      </div>
                    </div>
                    <div class="row mb-2">
                      <div class="col-md-4 my-auto">
                        <label class="m-0">Màu sắc</label>
                      </div>
                      <div class="col-md-8">
                        <input
                          type="text"
                          name="color"
                          placeholder="mau sac"
                          formControlName="color"
                          class="form-control"
                        />
                      </div>
                    </div>
                    <div class="row mb-2">
                      <div class="col-md-4 my-auto">
                        <label class="m-0">Ảnh</label>
                      </div>
                      <div class="col-md-8">
                        <div class="form-group __img mb-0">
                          <label class="mb-0" for="upload-photo"
                            >Chọn ảnh...</label
                          >
                          <input
                            type="file"
                            name="photo"
                            id="upload-photo"
                            accept=".png, .jpg, .jpeg"
                            enctype="multipart/form-data"
                            (change)="onSelectFileFlower($event)"
                            formControlName="img"
                          />
                          <input
                            type="text"
                            name="upload-img"
                            class="form-control __custom"
                            placeholder="chọn hình ảnh Hoa Lan của bạn"
                            value="{{ formFlower.get('img').value }}"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="text-right">
                      <button
                        type="submit"
                        class="btn btn-success"
                        [disabled]="formFlower.invalid"
                        *ngIf="isShow"
                      >
                        Thêm
                      </button>
                    </div>
                  </form>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
