<div class="page-contact-us">
  <div class="__bar"><h2>Liên hệ</h2></div>

  <form class="form-contact-us">
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <input
          type="text"
          class="form-control"
          id=""
          placeholder="họ & tên"
          value=""
          required
        />
      </div>
      <div class="col-md-6 mb-3">
        <input
          type="text"
          class="form-control"
          id=""
          placeholder="email"
          value=""
          required
        />
      </div>
      <div class="col-md-12 mb-3">
        <input
          type="text"
          class="form-control"
          id=""
          placeholder="tiêu đề"
          value=""
          required
        />
      </div>
      <div class="col-md-12 mb-3">
        <textarea
          name=""
          id=""
          rows="7"
          type="text"
          class="form-control"
          placeholder="nội dung"
          value=""
          required
        ></textarea>
      </div>
    </div>
    <button class="" type="submit">Gửi</button>
  </form>
</div>
