<div class="page-ai">
  <div>
    <h2>Tra cứu giống Chó, Mèo</h2>
    <div>
      <!-- <button type="button" (click)="aiPets()" *ngIf="isShow">Start</button>
      <button type="button" (click)="aiPetsClose()" *ngIf="!isShow">
        Close
      </button> -->
    </div>
  </div>
  <div>
    <div class="webcam">
      <div id="webcam-container"></div>
    </div>
    <div class="label">
      <!-- <p *ngIf="!isShow"> -->
      <p>
        Hệ thống tra cứu thú cưng của chúng tôi cho biết thú cưng đang hiện trên
        webcam là giống: <br />
        <span id="label-container"></span>
      </p>
    </div>
  </div>
</div>
