@import '~ngx-toastr/toastr.css';
@import "variables";
@import "global";
@import "input";
@import "comboflex";
@import "button";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.modal-backdrop.show {
  display: none !important;
}
