<div class="ListFriend__container">
  <div class="ChatRoom__Zone">
    <ng-container *ngFor="let user of listUser; let i = index">
      <ng-container *ngIf="user.isOpenChat">
        <div class="Chat__Room">
          <div class="Chat__Header">
            <div class="Friend__Name">{{ user.fullName }}</div>
            <button class="CloseButton" type="primary" (click)="onCloseChat(i)">
              <i class="fa fa-times"></i>
            </button>
          </div>
          <div class="Chat__Messages">
            <ng-container *ngFor="let mess of listMess[i]">
              <ng-container *ngIf="user.id == mess.user">
                <div class="receiver__container">
                  <div class="avatar__container">
                    <img src="{{user.picture}}" alt="" class="avatar__receiver" />
                  </div>
                  <div class="messenger__receiver">{{ mess.content }}</div>
                </div>
              </ng-container>
              <ng-container *ngIf="idCurrent == mess.user">
                <div class="sender__container">
                  <div class="messenger__sender">{{ mess.content }}</div>
                  <div class="avatar__container">
                    <img src="{{avatarUser}}" alt="" class="avatar__sender" />
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </div>
          <div class="Chat__Input">
            <input
              class="Input__Message"
              [(ngModel)]="textMess[i]"
              placeholder="Nhập nội dung để chat,..."
            />
            <button
              class="Send__Button"
              type="primary"
              (click)="onSendChat(user, i)"
            >
              <i class="fa fa-paper-plane"></i>
            </button>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <div class="ListFriend__Sidebar" *ngIf="userToken">
    <button
      class="OpenFloat__Btn"
      type="primary"
      (click)="onChangeVisible()"
      *ngIf="!isVisibleChat"
    >
      <i class="fas fa-comment"></i>
    </button>
    <div class="ListFriend__Chat" *ngIf="isVisibleChat">
      <div class="Action__Zone">
        <div class="Title__Text">Những người bạn muốn nhắn tin</div>
        <button
          class="RestoreDown__Btn"
          type="primary"
          (click)="onChangeVisible()"
        >
          <i class="fas fa-chevron-right"></i>
        </button>
      </div>
      <div class="ListFriend__Zone">
        <div class="Friend__Data" *ngFor="let user of listUser; let i = index">
          <div class="Friend_click" (click)="onOpenChat(i, user)">
            <div class="Friend__Avatar">
              <img
                class="avatar__img"
                alt="user avatar"
                [src]="user.picture"
                onerror="this.src='assets/img/avatar_template.jpg';"
              />
            </div>
            <div class="Friend__Name">{{ user.fullName }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
