<footer class="site-footer">
  <div class="container-Flower">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>FLOWER COMMUNITY</h6>
        <p class="text-justify">
          Web app dành cho Hoa Lan, tại Web app mọi người trong cộng đồng sử
          dụng Web app này có thể đăng ký tài khoản để lưu trữ hình ảnh của thú
          cưng của họ, đăng bài chia sẻ kiến thức chăm sóc Hoa Lan hoặc đăng
          bài hỏi hoặc giải đáp thắc mắc về các chủ đề liên quan đến Hoa Lan
          của họ..v..v...
        </p>
      </div>

      <div class="col-xs-6 col-md-4 pl-md-5">
        <h6>Thông tin liên hệ</h6>
        <ul class="footer-links">
          <li>
            <p>
              <i class="fas fa-map-marker-alt"></i>&ensp;Đường số 455 - Lê Văn
              Việt - Quận 9 - TP.Thủ Đức
            </p>
          </li>
          <li>
            <p><i class="fas fa-phone-alt"></i>&ensp;0333303819</p>
          </li>
          <li>
            <p><i class="fas fa-envelope"></i>&ensp;nhatpk98@gmail.com</p>
          </li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-2">
        <h6>Đường dẫn nhanh</h6>
        <ul class="footer-links">
          <li>
            <a routerLink="home" routerLinkActive="active" (click)="toTop()"
              >Trang chủ</a
            >
          </li>
          <li>
            <a
              routerLink="list-card"
              routerLinkActive="active"
              (click)="toTop()"
              >Bộ sưu tập</a
            >
          </li>
          <li>
            <a
              routerLink="ai-for-Flower"
              routerLinkActive="active"
              (click)="toTop()"
              >Tra cứu</a
            >
          </li>
          <!-- <li>
            <a routerLink="contact" routerLinkActive="active" (click)="toTop()"
              >Liên hệ</a
            >
          </li> -->
        </ul>
      </div>
    </div>
    <hr />
  </div>
  <div class="container-Flower">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12 d-flex align-items-center">
        <p class="copyright-text">
          Copyright &copy; 2023 All Rights Reserved by
          <a href="https://www.facebook.com/" target="_brank"
            >Nhật Nguyễn (Nguyễn Văn Nhật)</a
          >.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li>
            <a
              href="https://www.facebook.com/"
              target="_brank"
              class="facebook"
              ><i class="fab fa-facebook"></i>
            </a>
          </li>
          <li>
            <a
              href="#"
              target="_brank"
              class="youtube"
            >
              <i class="fab fa-youtube-square"></i>
            </a>
          </li>
          <li>
            <a
              href="https://www.tiktok.com/@nhatit57"
              target="_brank"
              class="tiktok"
              ><i class="fab fa-tiktok"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
