.main-container {
  .main-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  .main-content-center {
    justify-content: center !important;
  }

  .main-content {
    max-height: fit-content;
    min-height: calc(100vh - 310px);
    margin-top: 115px;

    display: flex;
    padding: 50px;
    justify-content: space-between;

    .rightSide {
      width: 25%;
      height: 500px;
      position: relative;
    }
    .hidden_rightSide {
      display: none;
    }

    .leftSide {
      width: 71.4%;
      .main__content {
        padding: 50px;
        color: black;
        .title__content {
          font-size: 42px;
          font-weight: 600;
          padding-bottom: 25px;

        }
        .contents {
          font-size: 20px;
          font-weight: 400;
          line-height: 135%;
        }
      }
    }

    .ListFriend__Menu {
      position: fixed;
      right: 15px;
      bottom: 10px;
      z-index: 10000;
      // height: calc(100vh - 115px);
    }
  }

  .main-footer {
    position: relative;
    z-index: 9;
  }

  @media (max-width: 739px) {
    .main-content {
      margin-top: 145px;
      padding-left: 0;
      padding-right: 0;

      .rightSide {
        width: 100%;
      }

      .leftSide {
        display: none;
      }
    }
  }

  @media (min-width: 740px) and (max-width: 1023px) {
    .main-content {
      margin-top: 145px;

      .rightSide {
        width: 100%;
      }

      .leftSide {
        display: none;
      }
    }
  }

  // @media (min-width: 1024px) and (max-width: 1366px) {
  //   .main-content {
  //    .leftSide {
  //       right: 4%;
  //     }
  //   }
  // }

  @media (min-width: 1367px) {
    .main-content {
      width: 77%;
      margin: 116px auto 0;
    }
  }
}
