<main class="main-container">
  <!-- (scroll)="scrolling($event)" -->
  <app-header class="main-header"></app-header>
  <div class="main-content" id="main-content">
    <div class="rightSide" id="rightSide">
      <app-outlet-right></app-outlet-right>
    </div>
    <div class="leftSide" id="leftSide">
      <ng-container *ngIf="tokenChecked == null">
        <div class="main__content">
          <div class="title__content">FLOWER COMMUNITY</div>
          <div class="contents">FLOWER COMMUNITY giúp bạn kết nối và chia sẻ với những người đam mê sưu tầm lan đẹp.
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="tokenChecked != null">
        <router-outlet></router-outlet>
      </ng-container>
      <!-- [ngClass]="{ 'active-scroll': scroll }" -->
    </div>
    <div class="ListFriend__Menu">
      <list-friend-sidebar></list-friend-sidebar>
    </div>
  </div>
  <app-footer class="main-footer"></app-footer>
</main>
